<!-- <body>
	<header>
	  <nav class="navbar">
	    <h1>Studio</h1>
    
	    <label>
	      <input type="checkbox" />
	      <div href="#" class="toggle-button">
		<div class="top"></div>
		<div class="middle"></div>
		<div class="bottom"></div>
	      </div>
	    </label>
    
	    <div class="navbar-links">
	      <ul>
		<li class="parent">
		  <a class="navbar-item" href="" routerLink="home">HOME</a>
		</li>
		<li class="parent">
		  <a class="navbar-item" routerLink="register"
		    >REGISTER</a
		  >
		</li>
		<li class="parent">
		  <a class="navbar-item" href=""routerLink="login"
		    >LOGIN</a
		  >
		</li>
	      </ul>
	    </div>
	  </nav>
	</header>
     -->