* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 8px 0;
  font-size: 20px;
}

p {
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
  padding: 5px;
  max-width: 960px;
  width: 95%;
  margin: 20px auto;
}

header {
  padding: 10px 10px;
  text-align: center;
}

.columns {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin: 5px;
}

#button1 {
  background-color: #af855a;
  color: #ffffff;
  font-weight: 600;
  padding: 6px;
  border-radius: 10px;
}

#button2 {
  background-color: #5f9ea0;
  color: #ffffff;
  font-weight: 600;
  padding: 6px;
  border-radius: 10px;
}

#word1 {
  color: #af855a;
  font-weight: 600;
}

#navbarSupportedContent-555 {
  color: #ffffff;
  font-weight: 600;
  margin-right: 5em;
}

#word3 {
  color: #ffffff;
  font-weight: 600;
  margin-left: 6em;
}

#title1 {
  color: #5f9ea0;
  font-weight: 700;
}

#title2 {
  color: black;
  font-weight: 700;
}

#border1 {
  border: 1px solid #af855a;
  border-radius: 10px;
}

#toolbar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  background-color: #5f9ea0;
  color: #ffffff;
  font-weight: 500;
}

.column {
  margin: 5px;
  padding: 5px;
  margin-right: 0em;
}

.column:first-child {
  margin-left: 0em;
  float: right;
}

.column:last-child {
  margin-left: 20%;
  float: left;
  padding: 15px;
}

#section1 {
  /* padding-right: 40em; */
  /* margin-right: 2em; */
  margin-top: 2em;
}

#section2 {
  margin-left: 9em;
  margin-top: -8em;
  /* padding-left: 0em; */
}

#section3 {
  margin-left: 0em;
  margin-top: 3em;
  /* padding-left: 0em; */
}

#gallery {
  width: 200px;
  height: 150px;
  border-radius: 25px;
}

@media screen and (max-width: 980px) {
  .columns .column {
    margin-bottom: 5px;
    flex-basis: 40%;
  }

  .columns .column:nth-last-child(2) {
    margin-left: 20%;
  }

  .columns .column:last-child {
    flex-basis: 100%;
    /* margin-right: 0em; */
  }
}

@media screen and (max-width: 680px) {
  .columns .column {
    flex-basis: 100%;
    margin: 0 0 5px 0;
  }
}
