body {
  background-color: white;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
}
p {
  color: #af855a;
  font-weight: 700;
}
.split1 {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
input {
  height: 30px;
}
.brown,
label {
  color: #af855a;
  border-radius: 30px;
}
h3 {
  color: #5f9ea0;
  font-size: 25px;
  font-weight: bolder;
}
.btn {
  background-color: brown;
}
.split2 {
  /* background-image: url('../../assets/dataz.jpeg'); */
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 4%;
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.left {
  left: 0;
  background-color: white;
}

.right {
  right: 0;
  background-image: url("../../../../assets/background-images/dataz.jpeg");
}

.centered1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* text-align: center; */
}

.centered img {
  width: 150px;
  border-radius: 50%;
}

#button {
  background-color: #af855a;
  color: #ffffff;
  font-weight: 600;
  padding: 6px;
  border-radius: 10px;
}
