.bq {
    display: flex;
    flex-wrap: wrap; 
    margin-top: 1em;
    justify-content: space-around;
    padding-top: 3em;

}

.blockreview-custom {
    position: relative;
    font-size: 1.1rem;
    background-color: #ffffff;
    width: 325px;
}


.blockreview-custom-icon {
    width: 50px;
    height: 50px;
    background-color: #86460ae8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: -25px;
    left: 50px;
}


