<body>
  <div class="wrapper" style="background-image: url('./assets/img/bg1.jpg')">
    <div class="inner my-auto">
      <div class="image-holder">
        <img src="./assets/img/bg1.jpg" alt="" />
      </div>
      <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <h3 class="font-weight-bold">Registration Form</h3>
        <div class="form-wrapper">
          <input
            type="text"
            placeholder="Username"
            class="form-control"
            formControlName="username"
            [ngClass]="{ 'is-invalid': submitted && form.username.errors }"
            required
          />
          <i class="zmdi zmdi-account"></i>
        </div>
        <div class="form-wrapper">
          <input
            type="text"
            placeholder="Email Address"
            class="form-control"
            formControlName="email"
            [ngClass]="{ 'is-invalid': submitted && form.email.errors }"
          />
          <i class="zmdi zmdi-email"></i>
        </div>

        <div class="form-wrapper">
          <input
            type="password"
            placeholder="Password"
            class="form-control"
            formControlName="password"
            [ngClass]="{ 'is-invalid': submitted && form.password.errors }"
            required
          />
          <i class="zmdi zmdi-lock"></i>
        </div>
        <div class="form-wrapper">
          <input
            type="password"
            placeholder="Confirm Password"
            class="form-control"
            formControlName="password2"
            [ngClass]="{ 'is-invalid': submitted && form.password2.errors }"
            required
          />
          <i class="zmdi zmdi-lock"></i>
        </div>
        <button class="rounded-lg" type="submit" [disabled]="loading">
          <span
            *ngIf="loading"
            class="spinner-border spinner-border-sm mr-1"
          ></span
          >Register
        </button>
        <div class="row mt-3">
          <p class="auth-link">
            If you already have an account,
            <span><a href="/client/login" class="">click here</a></span> to sign
            in.
          </p>
        </div>
        <div class="row mt-3">
          <p class="auth-link text-center">
            If you are lost,
            <span><a href="/" class="">click here</a></span> to go back home.
          </p>
        </div>
      </form>
    </div>
  </div>
</body>
