<nav id="toolbar" class="mb-1 navbar navbar-expand-lg navbar-dark">
  <a id="word3" class="navbar-brand" href="#">Studio Sesh</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-555"
    aria-controls="navbarSupportedContent-555" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
    <ul class="navbar-nav ml-auto nav-flex-icons">
      <li class="nav-item">
        <a class="nav-link" href="#">Dashboard
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Log Off</a>
      </li>
      <li style="margin-top: -0.5em;" class="nav-item avatar">
        <a class="nav-link p-0" href="#">
          <img
          src="https://mdbootstrap.com/img/new/avatars/2.jpg"
          class="rounded-circle"
          height="45"
          alt=""
          loading="lazy"

        />
        </a>
      </li>
    </ul>
  </div>
</nav>

<div class="wrapper">
  <header>
    <h1></h1>
  </header>

  <section class="columns">

    <div class="column">
      <h2 id="title1">Edit Profile</h2>
    </div>

    <div class="column">
    <div class="container">
    <div >
    <h2 id="title1">Update Logo</h2>
    <section id="section1">
    <a href="">
      <img
          src="https://mdbootstrap.com/img/new/avatars/2.jpg"
          class="rounded-circle"
          height="85"
          alt=""
          loading="lazy"
        />
    </a>
    </section>

    <section id="section2">
    <p id="title1">Enter your new logo</p>
    <form id="border1" style="width: 200px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>
    <button id="button1"  type="submit" class="btn btn btn-sm" style="margin-left: 75%">Save</button>
    </section>
    </div>
    </div>


    <h2 id="title1">Update Location</h2>
    <p id="word1">Enter your new location</p>
    <form id="border1" style="width: 300px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>
    <button id="button1" type="button" class="btn btn btn-sm" style="margin-left: 55%">Change Location</button>

    <h2 id="title1">Update Rate</h2>
    <p id="word1">Enter new rate</p>
    <form id="border1" style="width: 300px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>
    <button id="button1" type="button" class="btn btn btn-sm" style="margin-left: 65%">Change Rate</button><br>

    </div>

    <div class="column">
      <h2 id="title1">Change Email</h2>

    <p id="word1">Change Email</p>
    <form id="border1" style="width: 250px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>
    <button id="button1" type="button" class="btn btn btn-sm" style="margin-left: 55%">Change Email</button><br>

    <h2 id="title1">Change Password</h2>
    <p id="word1">Enter old password</p>
    <form id="border1" style="width: 250px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>

    <p id="word1">Enter new password</p>
    <form id="border1" style="width: 250px;">
      <!-- <label class="form-label" for="typeText">First Name</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control">
    </form><br>

    <p id="word1">Confirm new password</p>
    <form id="border1" style="width: 250px;">
      <!-- <label class="form-label" for="typeText">Confirm new password</label> -->
      <input style="border-radius: 10px;" type="text" id="typeText" class="form-control"/>
    </form><br>
    <button id="button1"  type="button" class="btn btn btn-sm" style="margin-left: 45%">Change Password</button>

  </div>

  </section>

</div>
