.brainy {
  font-size: 30px;
  color: cadetblue;
  margin-top: 1em;
}

.submit-form {
  padding: 10px 0;
}

.submit-form form {
  background-color: cadetblue;
  max-width: 500px;
  margin-top: 1em;
  padding: 50px 50px;
  border-radius: 10px;
  box-shadow: 0px 2px 10px rgb(248, 248, 248);
}

.item {
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 10px 20px;
}

.btn.btn-block {
  background-color: #fedd89;
}

@media (max-width: 576px) {
  .submit-form form {
    padding: 50px 20px;
  }
}
