* {
  color: rgba(0, 0, 0, 0.75);
}
/*...extensions...*/
.pseudo__line {
  content: "";
  position: absolute;
  background: #545454;
  height: 1px;
  width: 132px;
}
.lp__pTextBody {
  opacity: 0.75;
  line-height: 1.64;
}
/*...content...*/
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 0px 30px;
  background: bisque;
}
/*...text...*/
a {
  text-decoration: none;
}
h1 {
  position: relative;
  font-size: 36px;
  margin: 24px 0;
  color: cadetblue;
}
h1::before {
  @extend .pseudo__line;
  left: -144px;
  bottom: 16px;
}
h2 {
  font-size: 16px;
}
p {
  font-weight: 300;
}
/*...landing page...*/
.lp {
  max-width: 1000px;
  margin: 32px auto;

  height: max-content;
  max-height: 600px;
  box-shadow: 0px 0px 8px 1px #ccc;
  background: #fff;
  padding: 8px 0 0;
}
.lp__grid {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(6, 100px);
  margin: 0 0 0 32px;
}
.lp__nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-height: 72px;
}
.fa-bars {
  margin: 0 8px 0 0;
  cursor: pointer;
}
.lp__nav p a {
  font-family: sans-serif;
  font-weight: 500;
  font-size: 30px;
}
.lp__nav p a span {
  color: #af855a;
}
.lp__mainText {
  grid-row: 1/4;
  grid-column: 2/2;
  padding: 0 32px;
  z-index: 1;
  color: cadetblue;
}
.lp__mainText p {
  @extend .lp__pTextBody;
}
.lp__mainImg {
  background: #ccc;
  grid-row: 2/8;
  margin: -28px 0 0;
  height: 80%;
  position: relative;
  background: url("/assets/img/bg1.jpg") no-repeat center center;
  background-size: cover;
}
.lp__social {
  position: absolute;
  height: 40px;
  width: 40px;
  background: #545454;
  bottom: 48px;
  left: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fa-camera {
  color: #fafafa;
  font-size: 16px;
}
.lp__supportInfo {
  grid-column: 2/2;
  grid-row: 4/7;
  display: grid;
  grid-template-columns: repeat(3, 33.33%);
  grid-template-rows: repeat(4, 33.33%);
  margin: 32px 0 30px;
}
.lp__suportInfo__text {
  grid-row: 2/2;
  grid-column: 1/3;
  text-align: left;
  padding: 0 40px;
  width: 100%;
}
.lp__suportInfo__text h2 {
  position: relative;
  font-size: 18px;
  color: cadetblue !important;
}

.lp__suportInfo__text h2 a {
  color: cadetblue;
}

.lp__suportInfo__text h2::before {
  content: "+";
  position: absolute;
  right: 66px;
  font-size: 18px;
  top: 2px;
}
.lp__suportInfo__text h2::after {
  @extend .pseudo__line;
  right: -144px;
  top: 10px;
  width: 132px;
}
.lp__suportInfo__text p {
  font-size: 16px;
  @extend .lp__pTextBody;
}
.lp__suportInfo__image {
  background: #999;
  grid-row: 1/5;
  grid-column: 3/3;
  height: 100%;
  max-height: 300px;
  background: url(/assets/img/bg1.jpg) no-repeat center center;
  background-size: cover;
  margin: 0 -22.5px 0 0px;
}
.my-button {
  display: inline-block;
  margin: 5px; /* space between buttons */
  background: #af855a; /* background color */
  color: #333; /* text color */
  font-size: 1em;
  font-weight: 700;

  padding: 7px; /* space around text */
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.my-button:hover {
  background: cadetblue;
  color: #c1e1e0;
}
.my-button1 {
  display: inline-block;
  margin: 5px; /* space between buttons */
  background: cadetblue; /* background color */
  color: #333; /* text color */
  font-size: 1em;
  font-weight: 700;
  padding: 7px; /* space around text */
  -moz-transition: all 0.2s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.my-button1:hover {
  background: #af855a;
  color: #c1e1e0;
}
