<main>
  <div class="lp rounded-lg">
    <section class="lp__grid">
      <!-- <div class="lp__item lp__nav">
        <i class="fas fa-bars"></i>
        <p class="text-decoration-none font-weight-bold">
          <a href="/">Studio.<span>sesh</span></a>
        </p>
      </div> -->
      <div class="lp__item lp__mainText">
        <h1 class="font-weight-bold">Welcome to Studio Sesh</h1>
        <p class="px-3">
          Let us connect you to the perfect studio for your photo and musical
          needs. Studio sesh allows studio owners to access and interact with
          thier customers and directly manage thier user experience.
        </p>

        <div class="row px-3 justify-content-center w-100">
          <a
            class="my-button rounded-lg text-white w-auto"
            title="Relevant Title"
            href="/studio/login"
            >Studio owner</a
          >
          <a
            class="my-button1 rounded-lg text-white w-auto"
            title="Relevant Title"
            href="/client/login"
            >Studio client</a
          >
        </div>
      </div>

      <div class="lp__item lp__mainImg rounded-lg">
        <div class="lp__social rounded-lg"><i class="fas fa-camera"></i></div>
      </div>
      <div class="lp__item lp__supportInfo">
        <div class="lp__suportInfo__item lp__suportInfo__text">
          <h2 class="font-weight-bold"><a href="#">Explore</a></h2>
          <p>
            Studio sesh taps into the evolving entertainment industry as it
            automates services rendered by photographers and music producers.
          </p>
        </div>
        <!-- <div
          class="lp__suportInfo__item lp__suportInfo__image rounded-lg"
        ></div> -->
      </div>
    </section>
  </div>
</main>
