<div class="split1 left">
  <div class="centered1">
    <h3><strong>Thank you for joining us</strong></h3>
    <p>create profile to finalize registration</p>
    <form>
      <div class="row">
        <div class="col">
          <!-- <label class="brown" for="Enter Your Studios Name">Enter Studios Name</label> -->
          <p id="title1">Enter First Name</p>
          <input
            type="text"
            class="form-control form-rounded"
            placeholder="John Doe"
          />
        </div>
        <div class="col">
          <!-- <label class="brown" for="Enter your location">Enter your location</label> -->
          <p id="title1">Enter Last Name</p>
          <input
            type="text"
            class="form-control form-rounded"
            placeholder="John Doe"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <div class="col">
          <!-- <label class="brown" for="Select type of studio">Select type of studio</label> -->
          <p id="title1">Upload Profile Picture</p>

          <input
            type="file"
            accept="*/images"
            class="form-control form-rounded"
            placeholder="John Doe"
          />
        </div>
      </div>
      <br />
      <div class="row">
        <!-- <label class="brown" for="Enter your business bio">Enter your business bio</label> -->
        <p id="title1">Enter your profile bio</p>
        <textarea
          class="form-control form-rounded"
          rows="5"
          placeholder="Start typing here"
        ></textarea>
      </div>
      <br />
      <div class="row">
        <button id="button" type="button" class="btn btn btn-sm">
          Create Account
        </button>
      </div>
    </form>
  </div>
</div>

<div class="split2 right">
  <div class="centered"></div>
</div>
